@page "/"
@layout LayoutDeslogado
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<div class="container">
    <div class="row justify-content-center vh-100 align-items-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white text-center py-3">
                    <h4 class="mb-0">LOGIN</h4>
                </div>
                <div class="card-body p-4">
                    <div class="mb-3">
                        <label class="form-label">Código:</label>
                        <input type="number" class="form-control" @bind="codigoInput"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        <input type="password" class="form-control" @bind="senhaInput" @onkeyup="VerificarTecla" />
                    </div>

                    @if (!string.IsNullOrEmpty(mensagemErro))
                    {
                        <div class="alert alert-danger py-2">@mensagemErro</div>
                    }

                    <button class="btn btn-primary w-100" @onclick="ValidarLogin">
                        <i class="bi bi-box-arrow-in-right"></i> Acessar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private int codigoInput = 0;
    private string senhaInput = "";
    private string mensagemErro = "";

    private async Task VerificarTecla(KeyboardEventArgs e)
    {
        if (e.Key == "Enter") await ValidarLogin();
    }

    private async Task ValidarLogin()
    {
        using var context = DbFactory.CreateDbContext();

        var operador = await context.Operador
            .FirstOrDefaultAsync(x => x.Codigo == codigoInput && x.Senha == senhaInput && x.Inativo == 0);

        if (operador != null)
        {
            await SessionStorage.SetAsync("OperadorLogado", operador.Nome);
            Nav.NavigateTo("/Home", forceLoad: true);
        }
        else
        {
            mensagemErro = "Credenciais inválidas ou operador inativo.";
        }
    }
}