@page "/Home"

<PageTitle>Home</PageTitle>
@if(operadorLogado != null)
{
    <div class="alert alert-success" role="alert">
        Bem-vindo <strong>@operadorLogado.Nome</strong>!
    </div>
}

@code{
    private Operador? operadorLogado;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Chamada super simples e limpa!
            operadorLogado = await SessaoService.GetOperadorLogadoAsync();
            StateHasChanged();
        }
    }
}