@page "/Home"

<PageTitle>Home</PageTitle>
@if(operadorLogado != null)
{
    
    <h2>Bem-vindo <strong>@operadorLogado.Nome</strong>!</h2>
}

@code{
    private Operador? operadorLogado;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Chamada super simples e limpa!
            operadorLogado = await SessaoService.GetOperadorLogadoAsync();
            StateHasChanged();
        }
    }
}