@page
@model ProjetoBlazor.Pages.OperadorPages.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Operador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Operador.Codigo" />
            <div class="form-group">
                <label asp-for="Operador.Nome" class="control-label"></label>
                <input asp-for="Operador.Nome" class="form-control" />
                <span asp-validation-for="Operador.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.Senha" class="control-label"></label>
                <input asp-for="Operador.Senha" class="form-control" />
                <span asp-validation-for="Operador.Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.Admin" class="control-label"></label>
                <input asp-for="Operador.Admin" class="form-control" />
                <span asp-validation-for="Operador.Admin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.Inativo" class="control-label"></label>
                <input asp-for="Operador.Inativo" class="form-control" />
                <span asp-validation-for="Operador.Inativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
